extends layout


script(type='text/javascript').
    var currentDate = new Date(); 

block content
  h1= title

  h2 Current time: #{currentDate}
  p Number of events triggered: #{numEventsTriggered}
  p Number of modules executed: #{numModulesExecuted}

