doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      setInterval(window.location.reload(), 10000)
  body
    block content